*{
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: #d0bcf8;
    text-align: center;
    margin-top: 5px;
}
#navbar ul{
    list-style-type:none;
}
#navbar ul li{
    display: inline-block;
}
#navbar ul li a{
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: 0.5ss all ease;
    color:rgb(128, 14, 156)
}
#navbar ul li a:hover{
    background-color: aqua;
    color: rgb(19, 19, 49);
}